body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
  align: center;
}

.mBoardWinner {
  font-size: 90px;
}

.mboard-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.mboard{
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.MBTable {
  border: 1px solid black;
  margin: -2.5px;
  padding: 0;
  border-spacing: 0;
}

.SBTable {
  margin: 2.5px;
}
